.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
}
.icon{
  width: 24px;
  height: 24px;
}

.input{
  border: none;
  border-bottom: 1px solid lightgrey;
  flex: 1;
  height: 100%;
  margin-right: 8px;
}

.input:focus-visible {
  outline: none;
   border: none;
   border-bottom: 1px solid black;
}